:root {
  /*PRIMARY*/
  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --obalt-blue: hsl(234, 85%, 45%);

  /*Gradients*/
  --Light-slate-blue-background: hsl(252, 100%, 67%);
  --Light-royal-blue-background: hsl(241, 81%, 54%);
  --Violet-blue-circle: hsla(256, 72%, 46%, 1);
  --Persian-blue-circle: hsla(241, 72%, 46%, 0);

  /*Neutral*/
  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);

  --Font-size-paragraph: 18px;
}

@font-face {
  font-family: "Hanken-Grotesk";
  src: url(./fonts/HankenGrotesk-VariableFont_wght.ttf) format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Hanken-Grotesk";
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Pale-blue);
}
section {
  padding: 20px;
}
.card {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 730px;
  height: 510px;
  border-radius: 25px;
  overflow: hidden;
  font-size: var(--Font-size-paragraph);
  box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.2);
  font-weight: 500;
}

/*RESULTS*/

.results {
  background: linear-gradient(
    to bottom,
    var(--Light-slate-blue-background),
    var(--Light-royal-blue-background)
  );
  color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 40px 50px;
}
.results h2{
  font-size: 25px;
  color: var(--Light-lavender);
}
.results h3 {
  font-size: 32px;
}

.results div {
  background: linear-gradient(
    to bottom,
    var(--Violet-blue-circle),
    var(--Persian-blue-circle)
  );
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: 100px;
}

.results div p span{
  font-size: 70px;
  font-weight: 700;
  color: white;
}
.results p {
  text-align: center;
  color: var(--Light-lavender);
}

/*SUMMARY*/
li {
  display: flex;
  justify-content: space-between;
}

.summary {
  padding: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.summary button {
  all: unset;
  cursor: pointer;
  background-color: var(--Dark-gray-blue);
  padding: 15px 105px;
  border-radius: 40px;
  color: white;
  margin-top: 40px;
  font-weight: 500;
}
.summary button:hover {
  background: linear-gradient(
    to bottom,
    var(--Light-slate-blue-background),
    var(--Light-royal-blue-background)
  );
}
.summary h2 {
  margin-bottom: 35px;
  font-size: 25px;
}

.summary li {
  padding: 15px 15px;
  border-radius: 8px;
  margin-bottom: 15px;
}
.summary p {
  text-align: center;
  color: #a9a4af;
  font-weight: 500;
}
.summary > ul li p:first-child {
  font-weight: 700;
  padding-left: 25px;
}

.summary .reaction {
  background-color: hsla(0, 100%, 67%, 5%);
}

.summary .reaction p:nth-child(1) {
  color: var(--Light-red);
  position: relative;
}
.summary .reaction p:nth-child(1)::before {
  content: "";
  position: absolute;
  background-image: url(images/icon-reaction.svg);
  height: 20px;
  width: 20px;
  left: 0;
  top: .15em;
}

.summary .memory {
  background-color: hsla(39, 100%, 56%, 5%);
}
.summary .memory p:nth-child(1) {
  color: var(--Orangey-yellow);
  position: relative;
}

.summary .memory p:nth-child(1)::before {
  content: "";
  position: absolute;
  background-image: url(images/icon-memory.svg);
  height: 20px;
  width: 20px;
  left: 0;
  top: .15em;
}

.summary .verbal {
  background-color: hsla(166, 100%, 37%, 5%);
}
.summary .verbal p:nth-child(1) {
  color: var(--Green-teal);
  position: relative;
}

.summary .verbal p:nth-child(1)::before {
  position: absolute;
  content: "";
  background-image: url(images/icon-verbal.svg);
  height: 20px;
  width: 20px;
  left: 0;
  top: .15em;
}

.summary .visual {
  background-color: hsla(234, 85%, 45%, 5%);
}
.summary .visual p:nth-child(1) {
  color: var(--obalt-blue);
  position: relative;
}

.summary .visual p:nth-child(1)::before {
  content: "";
  position: absolute;
  background-image: url(images/icon-visual.svg);
  height: 20px;
  width: 20px;
  left: 0;
  top: .15em;
}
.summary ul > li p span {
  font-weight: bold;
  color: #403e4f;
}

/*créditos*/
.attribution {
  font-size: 14px;
  margin: 20px 0;
  text-align: center;
  font-weight: 500;
}
.attribution a {
  color: var(--Green-teal);
}
